/* .background{
  height: 55%;
} */

.background{
background-image: url('https://images.freeimages.com/images/large-previews/f94/digital-dreams-1155914.jpg');
/* background-repeat: no-repeat; */
background-size: cover;
/* background-attachment: fixed; */
}